<nav>
    <div class="site-title">
        <a href="/"><h1>Node</h1></a>
        <p>Demo site</p>
    </div>
    <ul>
        <a href="/">Blogs</a>
        <a href="/about">About</a>
        <a href="/blogs/create">New Blog</a>
    </ul>
</nav>