<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Node.js</title>
</head>
<body>
    <nav>
        <div class="site-title">
            <a href="/"><h1>Node</h1></a>
            <p>Demo site</p>
        </div>
        <ul>
            <a href="/">Blogs</a>
            <a href="/about">About</a>
            <a href="/blogs/create">New Blog</a>
        </ul>
    </nav>

    <div class="not-found content">
        OOPS, page not found
    </div>
</body>
</html>