<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    
    <%- include('./partials/nav.ejs') %>
    
    <nav class="about-content">
        <h2>About us</h2>
        <p>Some text</p>
        <p>Some text</p>
        <p>Some text</p>
        <p>Some text</p>
    </nav>
    <%- include('./partials/footer.ejs') %>
</body>
</html>